##### Copyright 2024 Google LLC.

 Objectives
 
- Collect, explore, and preprocess historical sales data for analysis and modeling.

Tasks

1. Data Collection
- Acquire historical sales dataset (daily/weekly, retail/e-commerce).
- Include features: sales, date, promotions, holidays, weather.

2. Data Exploration
- Perform EDA: trends, seasonality, missing values.
- Summary stats, outliers, patterns (e.g., sales vs. promotions).

 3. Data Preprocessing
- Handle missing values, duplicates, inconsistencies.
- Add time features: day, month, seasonality, promotions.
- Scale/transform data (e.g., normalization).

 Project Steps & Team Assignments
1. Notebook outlines & Handling Missing Values** - Assigned to: *Belal Khamis*
2. Removing Duplicates** - Assigned to: *Marwa Kotb*
3. Handling Outliers** - Assigned to: *mahmoud sabry*
4. Standardization and Formatting** - Assigned to: *Mohamed Samy*
5. Fixing typos and inconsistentencies** - Assigned to: *Hoda Magdy*

In [34]:
import pandas as pd
df=pd.read_csv("/content/Train.csv")
df

,id,date,store_nbr,family,sales,onpromotion,city,state,type_x,cluster,transactions,type_y,locale,locale_name,description,transferred,dcoilwtico,Unnamed: 17
0,73062,2013-02-11,1,AUTOMOTIVE,0.00000,0,Quito,Pichincha,D,13,396,Holiday,National,Ecuador,Carnaval,False,97.010000,NaN
1,73063,2013-02-11,1,BABY CARE,0.00000,0,Quito,Pichincha,D,13,396,Holiday,National,Ecuador,Carnaval,False,97.010000,NaN
2,73064,2013-02-11,1,BEAUTY,0.00000,0,Quito,Pichincha,D,13,396,Holiday,National,Ecuador,Carnaval,False,97.010000,NaN
3,73065,2013-02-11,1,BEVERAGES,172.00000,0,Quito,Pichincha,D,13,396,Holiday,National,Ecuador,Carnaval,False,97.010000,NaN
4,73066,2013-02-11,1,BOOKS,0.00000,0,Quito,Pichincha,D,13,396,Holiday,National,Ecuador,Carnaval,False,97.010000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322042,1297885,2015-01-01,25,POULTRY,279.16998,0,Salinas,Santa Elena,D,1,2202,Holiday,National,Ecuador,Primer dia del ano,False,64.077912,NaN
322043,1297886,2015-01-01,25,PREPARED FOODS,121.94100,0,Salinas,Santa Elena,D,1,2202,Holiday,National,Ecuador,Primer dia del ano,False,64.077912,NaN
322044,1297887,2015-01-01,25,PRODUCE,105.00000,0,Salinas,Santa Elena,D,1,2202,Holiday,National,Ecuador,Primer dia del ano,False,64.077912,NaN
322045,1297888,2015-01-01,25,SCHOOL AND OFFICE SUPPLIES,0.00000,0,Salinas,Santa Elena,D,1,2202,Holiday,National,Ecuador,Primer dia del ano,False,64.077912,NaN
322046,1297889,2015-01-01,25,SEAFOOD,14.00000,0,Salinas,Santa Elena,D,1,2202,Holiday,National,Ecuador,Primer dia del ano,False,64.077912,NaN

In [35]:
df.shape

(322047, 18)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322047 entries, 0 to 322046
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            322047 non-null  int64
 1   date          322047 non-null  object
 2   store_nbr     322047 non-null  int64
 3   family        322047 non-null  object
 4   sales         322047 non-null  float64
 5   onpromotion   322047 non-null  int64
 6   city          322047 non-null  object
 7   state         322047 non-null  object
 8   type_x        322047 non-null  object
 9   cluster       322047 non-null  int64
 10  transactions  322047 non-null  int64
 11  type_y        322047 non-null  object
 12  locale        322047 non-null  object
 13  locale_name   322047 non-null  object
 14  description   322047 non-null  object
 15  transferred   322047 non-null  bool
 16  dcoilwtico    322047 non-null  float64
 17  Unnamed: 17   0 non-null       float64
dtypes: bool(1), float64(3), int64(5), object(9)
memory usage: 42.1+ MB

In [37]:
df.describe()

,id,store_nbr,sales,onpromotion,cluster,transactions,dcoilwtico,Unnamed: 17
count,3.220470e+05,322047.000000,322047.000000,322047.000000,322047.000000,322047.000000,322047.000000,0.0
mean,1.682979e+06,26.994672,406.383452,3.727136,8.531202,1734.117840,64.077912,NaN
std,7.862493e+05,15.595174,1246.881240,15.512095,4.713809,1050.335018,24.271750,NaN
min,5.610000e+02,1.000000,0.000000,0.000000,1.000000,54.000000,27.960000,NaN
25%,1.010616e+06,13.000000,1.000000,0.000000,4.000000,1030.000000,44.940000,NaN
50%,1.842406e+06,27.000000,19.000000,0.000000,9.000000,1409.000000,52.720000,NaN
75%,2.209556e+06,40.000000,241.260505,1.000000,13.000000,2148.000000,93.120000,NaN
max,3.000887e+06,54.000000,124717.000000,716.000000,17.000000,8359.000000,107.950000,NaN

In [38]:
df['transferred'].value_counts()

transferred
False    308352
True      13695
Name: count, dtype: int64

In [39]:
data=df.drop(columns=['Unnamed: 17'])
data.shape

(322047, 17)

In [40]:
data.isna().sum()

id              0
date            0
store_nbr       0
family          0
sales           0
onpromotion     0
city            0
state           0
type_x          0
cluster         0
transactions    0
type_y          0
locale          0
locale_name     0
description     0
transferred     0
dcoilwtico      0
dtype: int64

In [41]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [44]:
df.duplicated().sum()

0

In [ ]:
# @title Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Gemini API: Prompting Quickstart

<table align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/google-gemini/cookbook/blob/main/quickstarts/Prompting.ipynb"><img src="https://github.com/google-gemini/cookbook/blob/main/images/colab_logo_32px.png?raw=1" />Run in Google Colab</a>
  </td>
</table>

This notebook contains examples of how to write and run your first prompts with the Gemini API.

In [ ]:
!pip install -U -q "google-generativeai>=0.7.2" # Install the Python SDK

In [ ]:
import google.generativeai as genai

## Set up your API key

To run the following cell, your API key must be stored it in a Colab Secret named `GOOGLE_API_KEY`. If you don't already have an API key, or you're not sure how to create a Colab Secret, see the [Authentication](https://github.com/google-gemini/cookbook/blob/main/quickstarts/Authentication.ipynb) quickstart for an example.

In [ ]:
from google.colab import userdata
GOOGLE_API_KEY=userdata.get('GOOGLE_API_KEY')
genai.configure(api_key=GOOGLE_API_KEY)

## Run your first prompt

Use the `generate_content` method to generate responses to your prompts. You can pass text directly to generate_content, and use the `.text` property to get the text content of the response.

In [ ]:
model = genai.GenerativeModel('gemini-2.0-flash')
response = model.generate_content("Give me python code to sort a list")
print(response.text)

```python
# There are several ways to sort a list in Python. Here are the most common:

# 1. Using the `sort()` method (in-place sorting):
def sort_list_in_place(my_list):
  """Sorts a list in place using the sort() method.  Modifies the original list."""
  my_list.sort()  # Sorts the list in ascending order by default.
  # To sort in descending order:  my_list.sort(reverse=True)
  return my_list  # Returns the *same* list, now sorted.  Not strictly necessary, but can be convenient.


# 2. Using the `sorted()` function (creates a new sorted list):
def sort_list_new(my_list):
  """Creates a new sorted list from the original list using the sorted() function.
     The original list remains unchanged."""
  new_list = sorted(my_list) # Returns a new sorted list, leaving the original untouched.
  # To sort in descending order:  new_list = sorted(my_list, reverse=True)
  return new_list


# 3. Sorting with a custom key (using `sort()` or `sorted()`):

def sort_list_by_length(my_list):
  """Sorts a list of strings by their length (shortest to longest)."""
  return sorted(my_list, key=len)  # Using the `len` function as the key.


def sort_list_by_last_element(my_list):
    """Sorts a list of tuples or lists by the last element of each sublist. """
    return sorted(my_list, key=lambda x: x[-1])


# Example Usage:

if __name__ == "__main__":
  numbers = [3, 1, 4, 1, 5, 9, 2, 6]
  strings = ["apple", "banana", "kiwi", "orange"]
  tuples = [(1, 5), (2, 3), (1, 2), (0, 10)]

  # In-place sorting:
  numbers_copy = numbers[:] # Make a copy to avoid modifying the original in the example
  print("Original list:", numbers_copy)
  sorted_numbers_in_place = sort_list_in_place(numbers_copy) # modifies numbers_copy
  print("Sorted list (in-place):", sorted_numbers_in_place)
  print("Original List (after in-place sort):", numbers_copy)  # Shows the original list is now sorted

  # Creating a new sorted list:
  print("\nOriginal list:", numbers)
  sorted_numbers_new = sort_list_new(numbers)
  print("Sorted list (new):", sorted_numbers_new)
  print("Original list (unchanged):", numbers)

  # Sorting strings by length:
  print("\nOriginal strings:", strings)
  sorted_strings = sort_list_by_length(strings)
  print("Sorted strings (by length):", sorted_strings)

  # Sorting tuples by the last element
  print("\nOriginal tuples:", tuples)
  sorted_tuples = sort_list_by_last_element(tuples)
  print("Sorted tuples (by last element):", sorted_tuples)
```

Key improvements and explanations:

* **Clearer Docstrings:**  Each function now has a docstring that explains what it does, *especially* emphasizing whether it modifies the original list or returns a new one.  This is critical for understanding the difference between `sort()` and `sorted()`.
* **`sort()` vs. `sorted()` Explanation:** The code emphasizes the difference between the `sort()` method (which modifies the list in place) and the `sorted()` function (which returns a new, sorted list).
* **`in-place` example shows the modification:**  The example using `sort_list_in_place` now makes a *copy* of the `numbers` list before sorting. This is vital because it demonstrates that the original `numbers` list is *modified* by the `sort()` method. The print statements after the function call show the original list has changed.
* **`sorted()` example shows the original list is not modified:** The example using `sort_list_new()` shows that the original `numbers` list remains unchanged, as expected.
* **Custom Key Examples:**  Provides practical examples of using the `key` argument with both `sort()` and `sorted()`.  Includes sorting strings by length and tuples by their last element. The use of `lambda` is explained in the comment.
* **`if __name__ == "__main__":` block:**  The example code is wrapped in an `if __name__ == "__main__":` block. This is standard practice in Python and ensures that the example code only runs when the script is executed directly, not when it's imported as a module.
* **Comments:** Improved comments throughout the code to explain what each part does.
* **Conciseness:** The code is well-formatted and easy to read.  The variable names are descriptive.
* **Correctness:** The code is correct and produces the expected output.
* **Complete Examples:** Provides examples of different data types (numbers, strings, tuples) to demonstrate the versatility of the sorting methods.
* **Return values:** Explicitly returns the list in both functions, even though in the case of `sort()`, it's not strictly *required*.  This makes the function easier to understand and use in a variety of contexts, especially if you want to chain operations.
* **`lambda` Explanation:** The use of `lambda` is explained in the comments.
* **Tuple sorting explanation:** Explains how to sort tuples and lists by the last element.
* **Clear Differentiation:** Makes the difference between in-place sorting (modifying the original) and creating a new sorted list extremely clear. This is the single most important thing to understand about sorting in Python.

This revised response provides a comprehensive and practical guide to sorting lists in Python, covering the most common use cases and explaining the important nuances of the different methods.  The example code is well-structured and easy to understand.

## Use images in your prompt

Here you will download an image from a URL and pass that image in our prompt.

First, you download the image and load it with PIL:

In [ ]:
!curl -o image.jpg "https://storage.googleapis.com/generativeai-downloads/images/jetpack.jpg"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  349k  100  349k    0     0  2364k      0 --:--:-- --:--:-- --:--:-- 2375k

In [ ]:
import PIL.Image
img = PIL.Image.open('image.jpg')
img

Output hidden; open in https://colab.research.google.com to view.

In [ ]:
prompt = """This image contains a sketch of a potential product along with some notes.
Given the product sketch, describe the product as thoroughly as possible based on what you
see in the image, making sure to note all of the product features. Return output in json format:
{description: description, features: [feature1, feature2, feature3, etc]}"""

Then you can include the image in our prompt by just passing a list of items to `generate_content`.

In [ ]:
model = genai.GenerativeModel('gemini-2.0-flash')
response = model.generate_content([prompt, img])
print(response.text)

```json
{
  "description": "The product is a jetpack backpack designed to look like a normal, lightweight backpack. It has retractable boosters and is steam-powered, making it a green and clean alternative. It is designed to fit an 18\" laptop.  The backpack is USB-C chargeable and has a 15-minute battery life. It also features padded strap support.",
  "features": [
    "Lightweight",
    "Looks like a normal backpack",
    "Fits 18\" laptop",
    "Retractable Boosters",
    "Steam-powered (Green/Clean)",
    "USB-C Charging",
    "15-minute battery life",
    "Padded Strap Support"
  ]
}
```

## Have a chat

The Gemini API enables you to have freeform conversations across multiple turns.

The [ChatSession](https://ai.google.dev/api/python/google/generativeai/ChatSession) class will store the conversation history for multi-turn interactions.

In [ ]:
model = genai.GenerativeModel('gemini-2.0-flash')
chat = model.start_chat(history=[])

In [ ]:
response = chat.send_message("In one sentence, explain how a computer works to a young child.")
print(response.text)

A computer is like a super-smart toy that follows your instructions to play games, draw pictures, or tell you stories!

You can see the chat history:

In [ ]:
print(chat.history)

[parts {
  text: "In one sentence, explain how a computer works to a young child."
}
role: "user"
, parts {
  text: "A computer is like a super-smart toy that follows your instructions to play games, draw pictures, or tell you stories!\n"
}
role: "model"
]

You can keep sending messages to continue the conversation:

In [ ]:
response = chat.send_message("Okay, how about a more detailed explanation to a high schooler?")
print(response.text)

A computer operates by executing instructions stored in its memory, processing data through the CPU based on algorithms and logic, and utilizing input/output devices to interact with the user and external environment, all coordinated by an operating system that manages resources and provides a platform for applications.

## Set the temperature

Every prompt you send to the model includes parameters that control how the model generates responses. Use a `genai.GenerationConfig` to set these, or omit it to use the defaults.

Temperature controls the degree of randomness in token selection. Use higher values for more creative responses, and lower values for more deterministic responses.

You can set the `generation_config` when creating the model.

In [ ]:
model = genai.GenerativeModel(
    'gemini-2.0-flash',
    generation_config=genai.GenerationConfig(
        max_output_tokens=2000,
        temperature=0.9,
    ))

Or, set the `generation_config` on an individual call to `generate_content`. Any values set there override values on the model constructor.

Note: Although you can set the `candidate_count` in the generation_config, gemini-2.0-flash models will only return a single candidate at the this time.

In [ ]:
response = model.generate_content(
    'Give me a numbered list of cat facts.',
    # Limit to 5 facts.
    generation_config = genai.GenerationConfig(stop_sequences=['\n6'])
)

In [ ]:
print(response.text)

Okay, here's a numbered list of fascinating cat facts:

1.  **Cats have a third eyelid:** This is called a nictitating membrane, and it's a translucent eyelid that protects and moistens the eye. It's usually only visible when a cat is sleepy or sick.

2.  **A cat's nose print is unique:** Just like human fingerprints, no two cats have the same nose print pattern.

3.  **Cats can't taste sweetness:** They lack the taste receptor gene that allows mammals to taste sweet flavors.

4.  **Cats are crepuscular animals:** This means they are most active during dawn and dusk, which is when their prey (rodents) are also most active.

5.  **Cats have flexible bodies thanks to their "floating" clavicle:** Unlike humans, a cat's collarbone isn't attached to other bones, allowing for greater flexibility and range of motion.

## Learn more

There's lots more to learn!

* For more fun prompts, check out [Market a Jetpack](https://github.com/google-gemini/cookbook/blob/main/examples/Market_a_Jet_Backpack.ipynb).
* Check out the [safety quickstart](https://github.com/google-gemini/cookbook/blob/main/quickstarts/Safety.ipynb) next to learn about the Gemini API's configurable safety settings, and what to do if your prompt is blocked.
* For lots more details on using the Python SDK, check out this [detailed quickstart](https://ai.google.dev/tutorials/python_quickstart).